h1.title { text-align: center }

h2.subtitle { text-align: center }

div.abstract { margin: 5em }

div.abstract h3 { text-align: center }

dt { margin-bottom: -1em }

span.classifier {
    font-family: sans-serif;
    font-style: oblique }

span.classifier_delimiter {
    font-family: sans-serif;
    font-weight: bold }

span.interpreted { font-family: sans-serif }

span.problematic { color: red }
